<%= form_with(model: bank_transaction) do |form| %>
  <% if @bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_transaction from being saved:</h2>

      <ul>
        <% @bank_account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label "Destination Account Number (12-digits)", class: "form-label" %>
    <%= form.text_field "bank_account[account_number]", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, class: "form-label" %>
    <%= form.number_field :amount, class: "form-control", min: 1, step: "any" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
    <%= link_to 'Back', bank_account_path, class: "btn btn-secondary" %>
  </div>
<% end %>
