<p id="notice"><%= notice %></p>

<h1>Bank Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Bank account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_transactions.each do |bank_transaction| %>
      <tr>
        <td><%= bank_transaction.bank_account_id %></td>
        <td><%= link_to 'Show', bank_transaction %></td>
        <td><%= link_to 'Edit', edit_bank_transaction_path(bank_transaction) %></td>
        <td><%= link_to 'Destroy', bank_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank Transaction', new_bank_transaction_path %>
