<% if transactions.size > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Running Balance</th>
      </tr>
    </thead>
    <tbody>
      <% transactions.each do |transaction| %>
        <tr>
          <th><%= transaction.created_at %></th>
          <th><%= number_to_currency transaction.debit_amount %></th>
          <th><%= number_to_currency transaction.credit_amount %></th>
          <th><%= number_to_currency transaction.running_balance %></th>
        </tr>
      <% end %>
    </tbody> 
  </table>
<% else %>
  <span>This account has no transactions.</span>
<% end %>