<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"> Welcome <%= current_user.name %>, </h5>
    <p>
      Your account number is: <strong><%= @bank_account.account_number %></strong><br/>
      Your current balance is: <strong><%= number_to_currency @bank_account.balance %></strong>
    </p>
    <%= link_to "Create New Transaction", new_bank_transaction_path, class: "card-link btn btn-primary" %>
  </div>
</div>

<div>
  Here are your latest transactions:

  <%= render partial: "bank_transactions", locals: { transactions: @transactions } %>
</div>

<footer>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</footer>